include LICENSE
include README.rst
include CHANGELOG.rst
graft docs
prune docs/_build
graft salmon
graft tests
exclude tests/*.db
global-exclude *.py[co]
global-exclude __pycache__
include versioneer.py
include salmon/_version.py
